body{
    
    font-family: Cambria, Cochin, Georgia, serif;
    margin: 40px;
    color: black;
    display: flex;
    flex-direction: column;

}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1 a{
    font-size: 30px;
    text-decoration: none;
    color: black;
}
nav{
    display: flex;
}
ul{
    list-style-type: none;
    font-size: 30px;
    margin: 0;
    padding: 0;
    display: flex;
}
li{
 margin-left: 15px;
}
li a{
    display: block;
    text-align: right;
    text-decoration: none;
    float: right;
    color: black
}

li a:hover{
    color: grey;
}
body{
    background-color: #fefae0;
}
section{
    display: flex;
    
}
p{
    padding: 0px 50px 0px 50px ;
    line-height: 1.4em;
    font-size: 20px;
}
