body{
    
    font-family: Georgia, serif;
    margin: 40px;
    color: black;
    display: flex;
    text-align: center;
    flex-direction: column;

}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0% 50px 50px 50px;
}
h1 a{
    font-size: 30px;
    text-decoration: none;
    color: black;
    padding-left: 70px;
}
nav{
    display: flex;
}
ul{
    list-style-type: none;
    font-size: 30px;
    margin: 0;
    padding-right: 60px;
    display: flex;
}
li{
 margin-left: 20px;
 
}
li a{
    display: block;
    text-align: right;
    text-decoration: none;
    float: right;
    color: black
}

li a:hover{
    color: grey;
}
body{
    background-color: #fefae0;

}

.PDF{
    padding-top: 20px;
    
}
.PDF a{
    text-decoration: none;
    color: black;
    font-size: 2em;
    border: 2px solid;
    padding: 10px;
    border-radius: 25px;
}
