body{
    
    font-family: Cambria, Cochin, Georgia, serif;
    margin: 40px;
    color: black;
    display: flex;
    text-align: center;
    flex-direction: column;

}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0% 50px 50px 50px;
}
h1 a{
    font-size: 30px;
    text-decoration: none;
    color: black;
    padding-left: 70px;
}
nav{
    display: flex;
}
ul{
    list-style-type: none;
    font-size: 30px;
    margin: 0;
    padding: 0;
    display: flex;
}
li{
 margin-left: 15px;
}
li a{
    display: block;
    text-align: right;
    text-decoration: none;
    float: right;
    color: black
}

li a:hover{
    color: grey;
}
body{
    background-color: #fefae0;

}
.ZM_EE{
    text-align: center;
    transition: transform .2s;
}

.ZM_EE:hover{
    transform: scale(1.1);
}